svg{
 background-color: #eee;
 margin-top: 10px;
 overflow: visible;
}
.main{
  margin: auto;
  margin-left: 30%;
  padding: 10px;
}

.barchart{
  background: #eee;
  overflow: visible;
  margin-bottom: 1rem;
  display: block;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
